:root{
    //***    nule   ***

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a{
        text-decoration: none;
        color : var(--black);
    }

    //***   variables   ***

    --color_body : #F2F2F2;

    --color_act_1 : #D3AF4A;
    --color_act_2 : #AB8B2F;
    --color_act_3 : #DEC377;
    --color_act_4 : rgba(222, 195, 119, 0.75);
    --color_act_5 : rgba(222, 195, 119, 0.4);

    --color_first : rgba(0, 0, 0, 0.8);
    --color_secondary : rgba(0, 0, 0, 0.5);
    --color_details : rgba(0, 0, 0, 0.1);
    --color_no_active : rgba(0, 0, 0, 0.1);

    //***   text colors   ****
    --color_main_text : rgba(0, 0, 0, 0.8);
    --color_articles : rgba(0, 0, 0, 0.9);
    --color_subarticles : rgba(0, 0, 0, 0.75);
    --color_double_subart : rgba(0, 0, 0, 0.5);


    --indent_100_px : calc(100rem/16);
    --indent_80_px : calc(80rem/16);
    --indent_40_px : calc(40rem/16);
    --indent_35_px : calc(35rem/16);
    --indent_30_px : calc(30rem/16);


    .h1{
        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: calc(40rem/16);
        line-height: calc(50rem/16);
        text-align: left;
        letter-spacing: 0.01em;
        color: var(--color_articles);
    }

    .h2{
        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: calc(28rem/16);
        line-height: calc(40rem/16);
        text-align: left;
        letter-spacing: 0.03em;
        color: var(--color_articles);
    }

    .h3{
        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: calc(26rem/16);
        line-height: calc(40rem/16);
        text-align: left;
        letter-spacing: 0.01em;
        //color: var(--color_articles);
        color : var(--color_act_3);
    }

    .h4{
    font-family: 'Commissioner', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(26rem/16);
    line-height: calc(45rem/16);
    text-align: left;
    color: var(--color_articles);
    }

    .h5{
        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: calc(20rem/16);
        line-height: calc(30rem/16);
        text-align: left;
        color: var(--color_articles);
    }

    .h6{
        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: calc(18rem/16);
        line-height: calc(25rem/16);
        text-align: center;
        letter-spacing: 0.01em;
        color: var(--color_articles);
    }

    .sub_h1{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: calc(17rem/16);
        line-height: calc(30rem/16);
        text-align: left;
        letter-spacing: calc(-4rem/160);
        color: var(--color_subarticles);
    }

    .sub_h2{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: calc(16rem/16);
        line-height: calc(25rem/16);
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--color_subarticles);
    }

    .text_main{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: calc(15rem/16);
        line-height: calc(25rem/16);
        text-align: left;
        color: var(--color_main_text);
    }
    
    .text_secendary{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: calc(14rem/16);
        line-height: calc(25rem/16);
        text-align: left;
        letter-spacing: 0.01em;
        color: var(--color_main_text);
    }

    .text_additionally{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: calc(13rem/16);
        line-height: calc(20rem/16);
        text-align: left;
        color: var(--color_double_subart);
    }

    .text_button_main{
        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: calc(13rem/16);
        line-height: calc(30rem/16);
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: var(--white);

        background-color: var(--color_act_3);
        border-radius: calc(2rem/16);

        
    }

    .text_button_additional{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: calc(12rem/16);
        line-height: calc(20rem/16);
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: var(--color_double_subart);
    }

    .text_signature{
        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: calc(13rem/16);
        line-height: calc(20rem/16);
        text-align: center;
        letter-spacing: 0.01em;
        color: var(--color_double_subart);
    }

    .text_inscription{
        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: calc(14rem/16);
        line-height: calc(20rem/16);
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color_main_text); 
    }

    .header{
        width: 100%;
        background-color: var(--white);
        padding-top: calc(6rem/16);
        padding-bottom: calc(16rem/16);
    }


    //***   bootstrap mods   ***

    .list-group-item{
        border: none;
        padding : 0;
    }

    .navbar{

        padding : 0;

        font-family: 'Commissioner', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: calc(14rem/16);
        line-height: calc(20rem/16);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color_subarticles);

        .navbar-collapse{

            .navbar-nav{
                
                transform: translate(calc(16rem/16), calc(-5rem/16));
                gap: calc(50.5rem/16);

                .nav-link{

                    padding : 0;
                    margin: 0;

                    svg{

                        width: calc(18rem/16);
                        height: auto;
                    }
                }
            }
        }
    }

    .btn-primary{

        background-color: var(--color_act_3);
        border-color: var(--color_act_3);
        border-radius: 0;
        
        padding : calc(86rem/160) calc(53rem/16);

        &:hover{
            background-color: var(--color_act_1);
            border-color: var(--color_act_1);
        }
    }

    body{

        //when screen bigger then 1200px
        @media screen and (min-width : 1200px) {

            .wrapper{
                max-width: calc(1216rem/16);
                //padding-left: calc(16rem/16);
                //transform: translateX((calc(8rem/16)));
            }
            
            .container-xl{
                max-width: calc(1920rem/16);
                padding: 0;
                margin: 0;
                transform: translateX((calc(8rem/16)));
                background-color : var(--color_body);;

                .header{

                    .wrapper{

                        .mini-header{
                            
                            width: 100%;
                            color: var(--color_main_text);
                            margin-bottom: calc(24rem/16);
    
                            .mini-header__language{
                                
                                font-family: 'Source Sans Pro', sans-serif;
                                font-style: normal;
                                font-size: 1rem;
                                line-height: calc(20rem/16);
                                opacity: 0.5;
    
                                .lang{

                                    font-weight: 300;
                                }
    
                                .dropdown{

                                    font-weight: 400;
    
                                    .btn{

                                        border: none;
                                        padding-top: 0;
                                        padding-bottom: 0;
    
                                        &:after {

                                            margin-left: calc(6.5rem/16);
                                            vertical-align: 0;
                                            background-image: url(img/ico/drop-down.png);
                                            background-size: cover;
                                            width : calc(9rem/16);
                                            height : calc(9rem/16);
                                            border-color: transparent;
                                            border: 0;
                                        }
                                    }
                                }
                            }
    
                            .mini-header__img-eye{
    
                                .img-eye__link{
    
                                    transform: translate(calc(120rem/16), calc(4rem/16));
                                   
                                    .link__eye-img{

                                        width: calc(35rem/16);
                                        height: calc(35rem/16);
                                    }
                                }
                            }
    
                            .mini-header__connection-var{

                                opacity: 0.5;
                                gap : calc(16rem/16);
                                font-size: calc(13rem/16);
                                letter-spacing: calc(-6rem/160);
    
                                .connection-var__A1, .connection-var__MTS {
    
                                    .list-group{
    
                                        .list-group-item{
    
                                            img{
                                                width: calc(20rem/16);
                                                height: calc(20rem/16);
                                            }
                                        }
                                    }
                                }
    
                                .connection-var__MTS{
    
                                    .list-group{
    
                                        gap: calc(40rem/16);
                                        align-items: flex-end;
                                    }
                                }
    
                                .connection-var__A1{
    
                                    .list-group{
    
                                        gap: calc(10rem/16);
                                        align-items: flex-end;
    
                                        .list-group-item{
                                            &:nth-child(1){
                                                margin-right: calc(6rem/16);
                                                letter-spacing: calc(8rem/160);
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }

                .article{

                    .sec-1-main-screen{

                        .carousel{

                            .carousel-inner{


                                .carousel-item{

                                    &:nth-child(1){

                                        .wrapper{
    
                                            .carousel-item-info{
    
                                                    transform: translateY(calc(160rem/16));
                                            }
                                        }
                                    }

                                    &:nth-child(2), &:nth-child(3){
                                        
                                        .wrapper{
    
                                            .carousel-item-info{
    
                                                    transform: translateY(calc(185rem/16));
                                            }
                                        }
                                    }

                                    &:nth-child(4){
                                        
                                        .wrapper{
    
                                            .carousel-item-info{
    
                                                transform: translateY(calc(180rem/16));
                                            }
                                        }
                                    }

                                    .wrapper{
                                        width: 100%;
                                        height: 100%;
                                        top : 0;
                                        left: 50%;
                                        transform: translateX(-50%);

                                        .carousel-item-info{
                                            
                                            width : 50%;

                                            .text_main{

                                                margin-top: calc(20rem/16);
                                                margin-bottom: calc(50rem/16);
                                            }
                                        }
                                    }
                                }
                            }

                            .wrapper{

                                height: fit-content;
                                bottom : calc(-294%/10);
                                left : 50%;
                                transform: translateX(-50%);
                                gap: calc(10rem/16);

                                .carousel-control-prev{

                                    position: static;
                                    width : auto;
                                    height: fit-content;
    
                                    .carousel-control-prev-icon{
                                        background-image: url(/img/ico/chevron-left.png);
                                        height: calc(54rem/16);
                                        width: calc(54rem/16);
                                    }
                                }
    
                                .carousel-control-next{

                                    position: static;
                                    width : auto;
                                    height: fit-content;
    
                                    .carousel-control-next-icon{
                                        background-image: url(/img/ico/chevron-right.png);
                                        height : calc(54rem/16);
                                        width: calc(54rem/16);
                                    }
                                }
                            }
                        }

                        .card-group{

                            //transform : translate(calc(-22rem/16), calc(-90rem/16));
                            width: calc(1170rem/16);

                            .card {

                                max-width: calc(268rem/16);
                                height: calc(284rem/16);
                                gap: calc(7rem/16);
                                transition: box-shadow 0.5s ease-out;
                                
                                &:hover{
                                    box-shadow: 0 calc(4rem/16) calc(4rem/16) var(--color_secondary), 0 calc(4rem/16) calc(4rem/16) var(--color_secondary), 0 calc(4rem/16) calc(4rem/16) var(--color_secondary),
                                }

                                .card-img-top{
                                    
                                    max-width: calc(120rem/16);
                                    padding : calc(30rem/16);
                                    margin-top: calc(180%/10);
                                    border:  calc(3rem/16) solid var(--color_details);
                                    border-radius: 50%;
                                }

                                .card-body{
                                    
                                    flex: none;
                                }
                            }
                        }
                    }

                    .sec-2-introduction{
                        
                        padding-top: calc(294rem/16);
                        padding-bottom: calc(90rem/16);

                        .wrapper{
                            
                            width: 100%;

                            .row{

                                .col-7{

                                    .card-body{
                                        
                                        padding: calc(50rem/16);
                                        padding-left: calc(69rem/16);
                                        padding-right: calc(63rem/16);

                                        .card-text{

                                            margin-top: calc(27rem/16);
                                            width: 83%;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .sec-3-main-directions{

                        padding-bottom: calc(50rem/16);
                        
                        .wrapper{

                            .h2{
                                margin-bottom: calc(36rem/16);
                            }

                            .card-group{

                                width: calc(1170rem/16);
                                transform: translateX(calc(15%/10));
                                column-gap: calc(30rem/16);
                                row-gap: calc(14rem/16);

                                .card{
    
                                    width: calc(370rem/16);
                                    height: calc(140rem/16);
                                    flex: none;
                                    margin-left: 0;
                                    padding : 0;

                                    //background-color: black;

                                    .row{

                                        height: 100%;

                                        .card-info{

                                            padding-top: calc(23rem/16);
                                            padding-left: calc(37rem/16);
                                            padding-bottom: calc(22rem/16);

                                            .card-body{
        
                                                padding : 0;
                                            }

                                            .card-footer{

                                                padding : 0;

                                                .btn{
                                                    padding : 0;
                                                }
                                            }
                                        }

                                        .card-img-block {

                                            //transform: translateY(calc(-16rem/16));
                                        
                                            .card-img{
                                                width: calc(80rem/16);
                                                padding : calc(20rem/16);
                                                border-radius : 50%;
                                                border:  calc(3rem/16) solid var(--color_details);
                                            }
                                    
                                        }
                                    }
                                }
                            }

                            .btn-primary{
                                margin-top : calc(24rem/16);
                            }
                        }
                    }

                    .sec-4-directions{

                        padding-top: calc(50rem/16);
                        padding-bottom: calc(50rem/16);
                        background-image: linear-gradient(var(--color_body) calc(825%/10), var(--white) calc(825%/10));

                        .wrapper{

                            .sec-4__text{
                                
                                margin-bottom: calc(45rem/16);

                                .sec-4__article{
                                    padding-right : 0;
                                }

                                .main-text-block{
                                    
                                    padding-left : 0;


                                    .text_main{

                                        padding-right: calc(65%/10);

                                        &:nth-child(1){
                                            margin-bottom: calc(26rem/16);
                                        }
                                    }
                                }
                            }

                            .carousel {
                                
                                max-width: calc(1170rem/16);


                                .carousel-control-prev{

                                    left : auto;
                                    right: 100%;
                                    width: 9%;

                                    .carousel-control-prev-icon{
                                        
                                        background-image: url(/img/ico/left.svg);
                                        height: calc(30rem/16);
                                    }
                                }

                                .carousel-control-next{

                                    left: 100%;
                                    width: 9%;

                                    .carousel-control-next-icon{
                                        
                                        background-image: url(/img/ico/right.svg);
                                        height: calc(30rem/16);
                                    }
                                }
                            }
                        }
                    }

                    .sec-5-reviews{
                        
                        padding-top: calc(50rem/16);
                        padding-bottom: calc(50rem/16);
                        background-color : var(--white);
                        
                        .wrapper{

                            max-width: calc(1170rem/16);
                            transform: translateX(calc(-24rem/16));

                            .h2{

                                margin-bottom: calc(32rem/16);
                            }

                            .carousel{

                                .carousel-indicators{

                                    li{

                                        width: calc(10rem/16);
                                        height: calc(10rem/16);
                                        background: var(-color_no_active);
                                        border-radius: 50%;
                                        border : none;

                                        &.active{

                                            background: var(--color_act_3);
                                        }
                                    }
                                }

                                .carousel-inner{

                                    margin-bottom: calc(32rem/16);

                                    .carousel-item{

                                        .card-group{

                                            gap: calc(32rem/16);

                                            .card{

                                                padding-bottom: calc(46%/10);
                                                border : none;

                                                .card-body{

                                                    padding : 0;
                                                    margin-left: calc(52rem/16);
                                                    margin-top: calc(48rem/16);
                                                    margin-right: calc(47rem/16);

                                                    .text_secendary{

                                                        margin-top: calc(20rem/16);
                                                        margin-bottom: calc(20rem/16);
                                                    }

                                                    .btn{

                                                        padding-left : 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                


                                .carousel-control-prev{
                                    
                                    height: fit-content;
                                    top: auto;
                                    left : auto;
                                    bottom: 0;
                                    right: calc(50%/10);
                                    padding-bottom: calc(16rem/16);
                                    width: calc(50%/10);

                                    .carousel-control-prev-icon{
                                        
                                        background-image: url(/img/ico/left.svg);
                                        height: calc(16rem/16);
                                    }
                                }

                                .carousel-control-next{
                                    
                                    height: fit-content;
                                    top: auto;
                                    bottom : 0;
                                    padding-bottom: calc(16rem/16);
                                    width: calc(50%/10);

                                    .carousel-control-next-icon{
                                        
                                        background-image: url(/img/ico/right.svg);
                                        height: calc(16rem/16);
                                    }
                                }
                            }
                        }
                    }

                    .sec-6-clients{
                        
                        padding-top: calc(58rem/16);
                        padding-bottom: calc(90rem/16);
                        background-color : var(--white);

                        .wrapper{

                            transform: translateX(calc(-15rem/16));

                            .sec-6-btn{

                                .btn{
                                    
                                    margin-left: calc(62rem/16);
                                    padding: calc(70rem/160) calc(32rem/16);
                                    background-color: var(--color_body );
                                    color : var(--color_act_3);
                                    
                                }
                            }

                            .sec-6-img-container{

                                filter: grayscale(100%);
                                margin-top : calc(24rem/16);
                                gap: calc(60rem/16);
                                padding-right: calc(16rem/16);
                                padding-left: 0;
                            }
                        }
                    }

                    .sec-7-triangle{

                        padding-top: calc(90rem/16);
                        padding-bottom: calc(40rem/16);

                        .wrapper{

                            max-width: calc(1200rem/16);
                            transform: translateX(calc(-24rem/16));
                            row-gap: calc(27rem/16);

                            .card-container{
                                
                                padding : 0;

                                .card{

                                    box-shadow: 0px calc(4rem/16) calc(10rem/16) rgba(0, 0, 0, 0.05);

                                    .card-body{

                                        padding: calc(380rem/160);
                                        padding-left: calc(48rem/16);
                                        padding-right: calc(55rem/16);
                                        padding-bottom: calc(54rem/16);

                                        .card-title{

                                            margin-bottom: calc(16rem/16);
                                        }
                                    }


                                }

                                &:nth-child(2){

                                    .card{

                                    background-image: linear-gradient(45deg, var(--white) calc(925%/10), var(--color_act_3) calc(95%/10));
                                    }
                                }

                                &:nth-child(3){

                                    .card{

                                        .card-body{

                                            padding-bottom: calc(42rem/16);

                                            .card-text{

                                                padding-left: calc(85%/10);
                                                padding-top: calc(3%/10);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .sec-7-img{
                            
                            margin-top: calc(100rem/16);
                        }
                    }

                    .sec-8-services{

                        padding-top: calc(40rem/16);
                        padding-bottom: calc(81rem/16);

                        .wrapper{

                            max-width: calc(1170rem/16);
                            transform: translateX(calc(-24rem/16));
                            
                            .h2{

                                margin-bottom: calc(36rem/16);
                            }

                            .cards-container{
                                
                                row-gap: calc(30rem/16);

                                .cards-container-block{

                                    padding-left: 0;
                                    padding-right : 0;

                                    

                                    &:nth-child(odd){
                                        padding-right: calc(14%/10);
                                    }

                                    &:nth-child(even){
                                        padding-left: calc(14%/10);
                                    }

                                    .card{

                                        padding-left: calc(70rem/16);
                                        background-image: linear-gradient(to right, var(--color_act_3) calc(70rem/16), var(--white) calc(70rem/16));

                                        max-height: calc(140rem/16);

                                        .card-body{

                                            padding-left: calc(30rem/16);
                                            padding-right: calc(48rem/16);
                                        }

                                        .card-footer{

                                            padding-top: calc(8rem/16);
                                            padding-right: calc(15rem/16);
                                            padding-bottom: calc(14rem/16);
                                            border : none;
                                        }
                                    }

                                    .blurred-card{

                                        background-image: linear-gradient(to right, var(--color_act_5) calc(70rem/16), var(--white) calc(70rem/16));
                                    }

                                    .almost-blurred-card{

                                        background-image: linear-gradient(to right, var(--color_act_4) calc(70rem/16), var(--white) calc(70rem/16));
                                    }
                                }
                            }

                            .sec-8-footer-block{

                                margin-top: calc(48rem/16);

                                .sec-8-footer-text{

                                    padding-right: calc(30rem/16);
                                }
                            }
                        }
                    }

                    .sec-9-trust-and-benefit{

                        padding-top: calc(81rem/16);
                        padding-bottom: calc(103rem/16);
                        background-color: var(--white);

                        .wrapper{

                            .sec-9-card{

                                border : none;

                                .card-content-block{

                                    .card-body-block{

                                        .card-body{

                                            padding-left: 0;
                                            padding-top: calc(11rem/16);
                                            padding-right: calc(240%/10);

                                            .card-title{

                                                margin-bottom: calc(65%/10);
                                            }
                                        }
                                    }

                                    .card-list-block{

                                        .list-group{

                                            gap: calc(335rem/160);
                                            margin-right: calc(210%/10);
                                            margin-left: calc(135%/10);
                                            margin-top: calc(10%/10);

                                            .list-group-item{
    
                                                &::before{
    
                                                    //width: calc(10rem/16);
                                                    content: "";
                                                    width: calc(40rem/16);
                                                    height: calc(40rem/16);
                                                    border-radius: 50%;
                                                    display: block;
                                                    position: absolute;
                                                    top: calc(-120%/10);
                                                    left: calc(-180%/10);
                                                    border: calc(1rem/16) solid var(--color_act_5);
                                                    background: radial-gradient(circle, var(--color_act_3) calc(48rem/160), var(--white) calc(48rem/160));
                                                }
                                            }


                                        }
                                    }
                                }
                            }

                            .sec-9-spacer{
                                
                                width: 100%;
                                height: calc(10rem/160);
                                background-color: var(--color_no_active);
                                margin: calc(49%/10) auto
                            }
                        }


                    }

                    .sec-10-advantages{

                        padding-top: calc(86rem/16);
                        padding-bottom: calc(40rem/16);

                        .wrapper{

                            max-width: calc(1170rem/16);
                            transform: translateX(calc(-24rem/16));

                            .sec-10-cards-container{

                                row-gap : calc(38rem/16);

                                .card-block{

                                    .card-image{

                                        max-height: calc(120rem/16);
                                        border: 1px solid black;
                                        border-radius: 50%;
                                        max-width: calc(120rem/16);
                                        padding: calc(28rem/16);
                                        margin-top: 29%;
                                    }

                                    .card-body{

                                        padding-top: calc(87%/10);
                                        padding-bottom: calc(130%/10);
                                    }

                                    

                                    &:last-child{


                                        .card{

                                            background-image: linear-gradient(45deg, var(--white) calc(955%/10), var(--color_act_3) calc(955%/10));

                                            .card-body{
                                                
                                                padding-top: calc(35%/10);
                                                padding-left: calc(42%/10);
                                                padding-right: calc(90%/10);
                                                padding-bottom: calc(38%/10);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .sec-11-cooperation{

                        padding-top: calc(40rem/16);
                        padding-bottom: calc(50rem/16);

                        .wrapper{

                            transform: translateX(calc(-36rem/16));

                            .sec-11-card-block{

                                &:nth-child(1){

                                    .card{

                                        background-color : transparent;
                                        border : none;

                                        .list-group{

                                            gap: calc(335rem/160);
                                            margin-right: calc(158%/10);
                                            margin-left: calc(207%/10);
                                            border : none;

                                            .list-group-item{

                                                background-color : transparent;

                                                &::before{

                                                    //width: calc(10rem/16);
                                                    content: "1";
                                                    width: calc(70rem/16);
                                                    height: calc(70rem/16);
                                                    border-radius: 50%;
                                                    display: block;
                                                    position: absolute;
                                                    top: calc(50%/10);
                                                    left: calc(-270%/10);
                                                    border: calc(1rem/16) solid var(--color_act_5);
                                                    //background: radial-gradient(circle, var(--color_act_3) calc(48rem/160), var(--white) calc(48rem/160));

                                                    font-family: 'Commissioner', sans-serif;
                                                    font-style: normal;
                                                    font-weight: 800;
                                                    font-size: calc(22rem/16);
                                                    line-height: calc(62rem/16);
                                                    text-align: center;
                                                    color: var(--color_act_3);
                                                    
                                                }

                                                &:nth-child(2){
                                                    
                                                    &::before{
                                                        
                                                        content: "2";
                                                    }
                                                }
                                            }


                                        }

                                        .card-body{
                                            
                                            &:last-child{

                                                padding-top: calc(60%/10);
                                                padding-right: 5%;
                                                padding-bottom: 0%;
                                            }
                                        }
                                    }
                                }
                                
                                &:nth-child(2){

                                    .card{

                                        .card-body{

                                            padding-top: calc(95%/10);
                                            padding-left: calc(107%/10);

                                            form{

                                                .form-group{
                                                    
                                                    margin-bottom: 2%;

                                                    .tel-input-label{

                                                        margin-bottom: 1%;
                                                    }

                                                    .form-text{
                                                        margin-top: 4%;
                                                    }

                                                    .form-control{

                                                        border-top: none;
                                                        border-right: none;
                                                        border-left: none;
                                                        
                                                    }

                                                    .text_additionally{

                                                        b{
                                                            font-weight: bold;
                                                            text-decoration: underline;
                                                        }
                                                    }
                                                }

                                                .btn{

                                                    margin-top: 4%;
                                                    width: 95%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
        

        //   ***   breakpoints list   ***


        // Большие девайсы (большие десктопы, < 1200)
        //@media (max-width: 1199.98) { ... }

        // Средние девайсы («таблетки», < 992) 
        //@media (max-width: 991.98) { ... }

        // Малые девайсы («ландшафтные», < 768)
        //@media (max-width: 767.98) { ... }

        // Экстрамалые девайсы («телефоны», < 576)
        //@media (max-width: 575.98) { ... }
    }
}