:root{

    body{

        //when screen bigger then 1200px
        @media screen and (min-width : 1200px) {
            
            .container-xl{

                .footer{

                    padding-top: calc(21rem/16);

                    .footer-spaser{
                        width: 100%;
                        height: calc(2rem/16);
                        background-color : var(--color_no_active);
                        margin-bottom: calc(31rem/16);
                    }

                    .wrapper{

                        transform: translateX(calc(-60rem/16));
                        max-width: calc(1170rem/16);

                        .footer-card-container{

                            padding : 0;
                            border : none;
                            

                            .card-block-1{

                                border : none;
                                background-color : transparent;

                                .card-body{

                                    padding-left: 12%;
                                    padding-right: 0;
                                    
                                    .card-title{

                                        margin-bottom: 30%;
                                    }

                                    .card-subtitle{

                                        margin-bottom: 6%;
                                    }

                                    .socials{

                                        margin-top: 24%;
                                        margin-bottom: 18%;
                                        gap : 7%;

                                        .socials-img-block{

                                            padding : 0;
                                            //column-gap : calc(15rem/16);
                                            

                                            .socials-img{
        
                                                height: calc(27rem/16);
                                                width: calc(27rem/16);
                                            }

                                        }
                                    }

                                    .btn-container{

                                        .btn{
    
                                            padding-left: 0;
                                            margin-bottom: 6%;
    
                                            &:after{
    
                                                content: url('img/footer/arrow.svg');
                                                margin-left: 7%;
                                                position: absolute;
                                                top: 18%;
                                                left: 32%;
                                            }
                                        }

                                        &:last-child{

                                            .btn{

                                                &:after{
                                                    
                                                    top: 27%;
                                                    left: 63%;
                                                }
                                            }
                                        }

                                    }
                                }
                            }

                            .card-block-2{

                                border : none;
                                background-color : transparent;

                                .card-header{

                                    color: var(--color_secondary);
                                    padding-top: calc(81%/10);
                                    padding-left: calc(65%/10);
                                    letter-spacing: calc(7rem/160);
                                    background-color : transparent;
                                }

                                .card-body{
                                    
                                    padding-top: calc(30%/10);
                                    padding-left: calc(62%/10);
                                    padding-right: 0;
                                    column-gap: 0;

                                    .card{

                                        margin-bottom: 10%;
                                        border : none;
                                        background-color : transparent;

                                        .card-body{

                                            padding : 0;

                                            .caption{

                                                margin-bottom: calc(31%/10);
                                            }

                                            .card-text{

                                                margin-bottom: calc(127%/10);

                                                &:last-child{

                                                    letter-spacing: calc(-7rem/160);
                                                }
                                            }

                                            .residents{
                                                margin-bottom: 0%;
                                            }

                                            .residents-tel{

                                                margin-bottom: 8%;
                                                letter-spacing: calc(1rem/160);
                                            }
                                        }

                                        .list-group{

                                            margin-top: calc(94%/10);
                                            margin-bottom: calc(83%/10);

                                            .list-group-item{

                                                letter-spacing: calc(1rem/160);
                                                background-color : transparent;
                                            }
                                        }
                                    }

                                    .sub-card{

                                        margin-bottom: 13%;

                                        .card-body{

                                            padding-left : 11%;

                                            .card-title{

                                                margin-bottom: 9%;
                                            }

                                            .card-subtitle{

                                                margin-bottom: 3%;
                                            }

                                            .card-text{

                                                margin-bottom: 1%;

                                                &:last-child{

                                                    letter-spacing: calc(-11rem/160);
                                                }
                                            }
                                        }

                                        &:nth-child(5), &:nth-child(6){

                                            .card-body{

                                                padding-left : 21%;
                                            }
                                        }

                                        &:last-child{

                                            margin-bottom: 20%;
                                        }
                                    }
                                }

                            }

                            .card-block-3{

                                border : none;
                                background-color : transparent;

                                .card-header{

                                    color: var(--color_secondary);
                                    padding-top: calc(290%/10);
                                    padding-left: calc(313%/10);
                                    padding-right: 0;
                                    letter-spacing: 0;
                                    text-transform: uppercase;
                                    background-color : transparent;
                                }

                                .card-body{
                                    
                                    padding-top: calc(110%/10);
                                    padding-left: calc(295%/10);
                                    padding-right: 0;

                                    .block-3-card-container{

                                        padding : 0;

                                        .card{

                                            border : none;
                                            background-color : transparent;

                                            .card-body{

                                                padding : 0;
                                                padding-bottom : calc(160%/10);

                                                .card-title{

                                                    margin-bottom: 3%;
                                                }

                                                .card-text{

                                                    margin-bottom: 1%;
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }

                    .last-block{

                        background-color : #DADADA;
                        padding-top: calc(14%/10);
                        padding-bottom: calc(1%/10);
                        padding-right: calc(32%/10);

                        .last-text{

                            font-family: 'Lato', sans-serif;
                            font-style: normal;
                            font-weight: 300;
                            font-size: calc(12rem/16);
                            line-height: calc(20rem/16);
                            letter-spacing: calc(1rem/160);
                            color: var(--color_main_text);
                        }
                    }
                }

            }
        }
        

        //   ***   breakpoints list   ***


        // Большие девайсы (большие десктопы, < 1200)
        //@media (max-width: 1199.98) { ... }

        // Средние девайсы («таблетки», < 992) 
        //@media (max-width: 991.98) { ... }

        // Малые девайсы («ландшафтные», < 768)
        //@media (max-width: 767.98) { ... }

        // Экстрамалые девайсы («телефоны», < 576)
        //@media (max-width: 575.98) { ... }
    }
}